.App {
  text-align: center;
  width: 100vw;
  background: radial-gradient(circle, #496D93, #64A596);
  max-height: 100vh;
  max-width: 100vw;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
}

.App-contents {
  /*background-color: #282c34;*/
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.browse-swim-sets {
  /*background: radial-gradient(circle, #25568B, #377F6E);*/
  min-width: fit-content;
}

.browse-swim-practices {
  min-width: fit-content;
}

.browse-swim-seasons {
  background-color: white;
  justify-content: left;
  justify-self: left;
}

.write-swim-set {
  width: 100%;
  min-width: fit-content;
  /*background-color: orange;*/
}

.write-swim-practice {
  /*background-color: purple;*/
  min-width: fit-content;
}

.view-swim-season {
  min-width: fit-content;
}

.App-tagSelection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
}

.App-displaySwimSetCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  overflow-x: scroll;
}

.App-displaySwimPracticeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  overflow-x: scroll;
}

.writeSwimPractice-displaySwimSets {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-items: center;
  width: fit-content;
}

.swim-set-card {
  /*color: green;*/
  position: relative;
  background-color: rgba(217, 217, 217, 0.5);
  border: 1px solid rgba(256, 256, 256, 0.5);
  /*display: flex;
  flex-direction: column;*/
  font-size: 12;
  width: fit-content;
  height: fit-content;
  max-width: min(90%, 20vw);
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
  overflow: hidden;
  z-index: 2;
}

.swim-practice-card {
  /*color: green;*/
  position: relative;
  background-color: rgba(73, 109, 147, 0.5);
  border: 1px solid rgba(256, 256, 256, 0.5);
  /*box-shadow: 5px 5px 5px white;*/
  /*display: flex;
  flex-direction: column;*/
  font-size: 12;
  width: fit-content;
  height: fit-content;
  max-width: min(90%, 30vw);
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
  overflow: hidden;
  z-index: 2;
}

.swimCard-header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: first baseline;
  align-content: right;
  width: 100%;
  z-index: 2;
}

.swimCard_favorite {
  width: 30px;
  justify-content: right;
  /*color: red;*/
}

.swimCard_title {
  color: white;
  text-align: left;
  text-justify: left;
  justify-self: left;
  align-content: center;
  width: calc(100% - 70px);
  font-size: 24pt;
  font-weight: normal;
  z-index: 3;
}

.swimSetCard-button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  text-align: center;
  text-justify: center;
  justify-content: right;
  height: 30px;
  width: 30px;
  margin: 0;
  font-size: 24pt;
  border-radius: 17px 17px 0px 0px;
  z-index: 5;
}

.swimSetCard-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 12px;
  top: 55px;
  right: 10px;
  background-color: white;
  color: black;
  border-radius: 17px 0px 17px 17px;
  z-index: 4;
}

.App-tagCard {
  color: white;
  border-radius: 10px;
  margin: 2px;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  z-index: 2;
}

.App-tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0;
  z-index: 2;
}

.App-swimSetList1 {
  overflow-x: scroll;
  width: auto;
  z-index: 2;
  margin: 0;
  padding: 5px;
}

.App-swimSetList2 {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin: 0;
  padding: 5px;
}

.swim-practice-set-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  padding: 5px;
  margin: 2.5px;
}

.App-checkboxList {
  background-color: gray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.App-Checkbox {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.menu {
  justify-content: left;
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: max-content;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.App-groupCard {
  color: white;
  background-color: rgba(217, 217, 217, 0.5);
  margin: 5px;
  padding: 5px;
  min-width: 200px;
  width: fit-content;
  font-size: 12px;
  border-radius: 13px;
  height: fit-content;
  z-index: 2;
}

.swim-set-card-notes {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(217, 217, 217, 0.25);
  text-justify: center;
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: 5px;
  padding: 5px;
  min-width: 200px;
  width: 100%;
  font-size: 12px;
  border-radius: 13px;
  height: fit-content;
  z-index: 2;
}

p {
  text-align: center;
  height: fit-content;
  justify-content: left;
  white-space: pre-wrap;
}

h1 {
  text-align: center;
  justify-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  margin: 5px;
  padding: 10px;
}

.calendar-container .react-calendar {
  display: flex;
  width: fit-content;
  color: black;
  max-width: 100vw;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  padding-top: 1em;
  margin: 10px;
  justify-self: center;
}

.side-by-side-grid {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: right;
  justify-items: right;
  justify-self: right;
  align-content: right;
  align-items: right;
  align-self: right;
}

.side-by-side-headers {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100vw;
  justify-content: space-around;
  background-color: blue;
  z-index: 5;
}

.side-by-side-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.side-by-side-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 3px solid rgba(256, 256, 256, 0.5);
}

.side-by-side-date {
  justify-content: left;
  text-align: left;
  margin-left: 30px;
  font-size: 24pt;
}

.side-by-side-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
}

.back-to-calendar-btn {
  display: flex;
  position: sticky;
  bottom: 10px;
  transform: translate(85vw, 0);
  justify-self: right;
  justify-content: right;
  justify-items: right;
  align-self: right;
  align-content: right;
  align-items: right;
  width: fit-content;
  z-index: 5;
}

.blank-swim-plan-card {
  position: relative;
  background-color: rgba(73, 109, 147, 0.5);
  border: 1px solid rgba(256, 256, 256, 0.5);
  font-size: 12;
  width: 30vw;
  height: fit-content;
  max-width: min(90%, 30vw);
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
  overflow: hidden;
  z-index: 2;
}

.incomplete-swim-plan-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(73, 109, 147, 0.5);
  border: 1px solid rgba(256, 256, 256, 0.5);
  font-size: 12;
  width: 30vw;
  height: fit-content;
  max-width: min(90%, 30vw);
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
  overflow: hidden;
  z-index: 2;
}

.swim-plan-comments {
  /*color: green;*/
  position: relative;
  background-color: rgba(73, 109, 147, 0.5);
  border: 1px solid rgba(256, 256, 256, 0.5);
  /*box-shadow: 5px 5px 5px white;*/
  /*display: flex;
  flex-direction: column;*/
  font-size: 12;
  width: 30vw;
  height: fit-content;
  max-width: min(90%, 30vw);
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
  overflow: hidden;
  z-index: 2;
}

h3 {
  justify-content: center;
  width: fit-content;
  /*margin: 10px;*/
}

form {
  width: 100%;
}

button {
  text-align: left; 
  border: 1px solid white;
  background-color: rgba(73, 109, 147, 0.5);
  color: white;
  cursor: pointer;
  text-justify: center;
  justify-content: right;
  height: fit-content;
  width: fit-content;
  font-size: 24pt;
  border-radius: 5px;
  margin: 5px;
}

.error {
  color: red;
  font-size: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Darken background */
  z-index: 100; /* Make sure overlay is on top */
  cursor: pointer;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background: radial-gradient(circle, #496D93, #64A596);
  padding: 20px;
  z-index: 101; /* Higher than the overlay */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  min-height: 300px;
  width: 75vw;
  height: 75vh;
  overflow: scroll;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.save-btn {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
}