.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-tagSelection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: fit-content;
}

.App-displaySwimSetCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  overflow-x: scroll;
}

.App-displaySwimPracticeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  overflow-x: scroll;
}

.App-card {
  color: green;
  background-color:aqua;
  flex-direction: column;
  display: flex;
  font-size: 12;
  width: 400px;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.practice-card {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  width: 500px;
}

.App-tagCard {
  color: black;
  background-color: magenta;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}

.App-tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.App-swimSetList1 {
  overflow-x: scroll;
  width: auto;
}

.App-swimSetList2 {
  display: flex;
  justify-content: center;
}

.App-checkboxList {
  background-color: gray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.App-Checkbox {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.menu {
  justify-content: left;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  height: fit-content;
  width: max-content;
  align-items: center;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.App-groupCard {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  min-width: 200px;
  width: fit-content;
  margin: 5px;
  font-size: 12px;
  height: fit-content;
}

p {
  text-align: center;
  justify-content: left;
  white-space: pre-wrap;
}

h1 {
  text-align: center;
  justify-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: row;
}

li {
  margin: 10px;
  padding: 10px;
}

.calendar-container .react-calendar {
  display: flex;
  width: fit-content;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  padding-top: 1em;
  margin: 10px;
  justify-self: center;
}

.side-by-side-grid {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 100%;
}

.side-by-side-headers {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  background-color: blue;
}

.side-by-side-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-by-side-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

.side-by-side-date {
  justify-content: left;
  text-align: left;
}

.side-by-side-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.sbs-placeholder {
  width: 25%;
  background-color: cyan;
  color: black;
}

h3 {
  justify-content: center;
  padding: 50px;
  margin: 10px;
}